*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/

libero_10_no_noops_1.0.0_lerobot
LIBERO_代码库分析与数据收集指南.md
command.md
collected_demos
demonstration_data